.mvc-hero-container {
  /* A video is needed here */
  background: url("../images/speed-internet-technology-background-5.jpg") center
    center/cover no-repeat fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: -90px; /* To have the background all over the page (under navbar)*/
  position: relative;
}

.title {
  text-shadow: 2px 2px 20px #fbff00;
  color: white;
  font-size: 100px;
}
.subTitle {
  text-shadow: 2px 2px 10px #fbff00;
  color: white;
  font-size: 35px;
}
