* {
  padding: 0;
  margin-top: 0px;
  box-sizing: border-box;
}

.logoMVC {
  border-radius: 50px;
}

.logo {
  color: #f7aa04;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

a.skip-main {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
}

a.skip-main:focus,
a.skip-main:active {
  color: #fff;
  background-color: #000;
  left: auto;
  top: auto;
  width: 30%;
  height: auto;
  overflow: auto;
  margin: 10px 35%;
  padding: 5px;
  border-radius: 15px;
  border: 4px solid yellow;
  text-align: center;
  font-size: 1.2em;
  z-index: 999;
}


.nav_Pane {
  position: sticky;
  z-index: 999;
  top: 0px;
  max-width: 100%;
  min-width: 300px;
  filter: grayscale(0%);

}

.safeColor_nav_Pane {
  position: sticky;
  z-index: 999;
  top: 0px;
  max-width: 100%;
  min-width: 300px;
  filter: grayscale(70%);
  animation: lowColor 2s;
}



@keyframes lowColor {
  0% {
    filter: grayscale(0);
  }

  15% {
    filter: grayscale(15%);
  }

  30% {
    filter: grayscale(30%);
  }

  45% {
    filter: grayscale(45%);
  }

  60% {
    filter: grayscale(60%);
  }

  75% {
    filter: grayscale(75%);
  }


}



.btn:hover {
  cursor: url(../../public/HandCursor1.png), auto;
}

.navbar-container {
  display: grid;
  /* Logo Gap Gap HamMenu*/
  grid-template-columns: 10% 10% 70% 10%;
  align-items: center;
  height: 70px;
  font-size: 1.2rem;
  min-width: 200px;
}

.background-img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  /* remove extra space below image */
}

.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: large;
  top: -1000px;
  /* Top to down menu*/
  left: 0;
  opacity: 0;
  transition: all 1s ease-out;
  align-items: center;
  /* list-style-type: none;*/
  z-index: 900;
}

.menu.active {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(39, 26, 88, 0.99);
  left: 0;
  top: 0px;
  opacity: 1;
  font-size: x-large;
  transition: all 0.8s ease;
  display: flex;

  list-style-type: none;

  z-index: 900;
  position: fixed;
  padding: 10px;
}

/*TODO  find an icon or a designed logo*/
.MVC-Logo {
  /* Linked to Home page*/
  color: rgb(255, 255, 255);
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  margin-left: 20px;
  transition: all 0.8s ease;

}

.drop-down-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.mvcLogo:hover {
  transition: all 0.8s ease;
  cursor: url(../../public/HandCursor1.png), auto;
}

.ham_Menu {
  color: rgb(255, 255, 255);
  margin-right: 20px;
  font-size: 1.8rem;
  justify-self: end;
  /*To keep at the corner of the page*/
  transition: all 0.8s ease;
  cursor: url(../../public/HandCursor1.png), auto;
}

.ham_Menu:hover {
  transition: all 0.8s ease-out;
  color: rgb(0, 0, 0);
  cursor: url(../../public/HandCursor1.png), auto;
}

/* Ham menu icons*/
.fa-times {
  font-size: 2rem;
  z-index: 900;
}

.fa-times:hover {
  cursor: url(../../public/HandCursor1.png), auto;
}

.fa-times:active {
  transform: rotate(30deg) translate(-2px, -1px);
  z-index: 900;
}

.fa-bars:active {
  opacity: 0.5;
  z-index: 1000;
}

.fa-bars:hover {
  cursor: url(../../public/HandCursor1.png), auto;
  background-color: #d6d6d688;
  transition: all 0.8s ease-out;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.menu-links {
  background: transparent;
  text-align: center;
  height: 70px;
  color: rgb(255, 255, 255);
  cursor: url(../../public/HandCursor1.png), auto;
  font-size: 45px;
  border: none;
  margin: 10px;
}

.menu-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: transparent;
  font-size: 40px;
  font-family: sans-serif;

  text-decoration: none;
  padding: 5px;
  width: 200px;
  color: white;
  padding: 10px;
  font-family: sans-serif;
}

.menu-items:hover {
  color: #f7aa04;
  text-shadow: #f7aa04;
  font-size: 45px;
  transition: all 0.3s ease-in;
  opacity: 1;
  cursor: url(../../public/HandCursor1.png), auto;

}

button:focus {
  outline: yellow solid 2px;
  color: #f7aa04;
  text-shadow: #f7aa04;
  font-size: 45px;
  transition: all 0.7s ease-in;
  opacity: 1;

}

.project_Btn {
  background-color: transparent;
  font-size: 50px;
  color: white;
  border: 0ch;
}

.project_Btn:hover {
  color: #f7aa04;
  font-size: 55px;
  transition: all 0.8s ease-out;
  opacity: 1;
}

@media screen and (max-width: 360px) {
  .menu-links {
    font-size: 30px;
  }

  button {
    font-size: 30px;
  }

  button:hover {
    font-size: 35px;
  }

  .menu-links:hover {
    font-size: 35px;
  }

}