/* TODO  Divide the file into two files, based on the js files */
.Boxes {
  padding: 5px;
  background: rgb(255, 255, 255);
  max-height: 3000px;
  max-width: 1920px;
  height: 700px;
  width: 100%;

}
.Boxes_Container {
  width: 90%;
  margin: 0 auto;
}
/* Positioning and the number of boxes(Cards) in screens */
.Items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/* Each single card*/
.Item {
  display: flex;
  flex-direction: row;
  margin: 1rem 0.5rem;
  border-radius: 10px;
}

.Item_Link {
  display: flex;
  flex-flow: column;
  width: 350px;
  box-shadow: 0 6px 20px rgba(1, 111, 255, 0.17);
  border-radius: 20px;
  overflow: hidden;
  text-decoration: none;
}

.Item_Picture {
  position: relative;
  width: 100%;
  padding-top: 50%;
}

.Item_Picture::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  padding: 10px 10px;
  max-width: calc((100%) - 60px);
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  background-color: transparent;
}

.Item_Img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  max-width: 100%;
  height: 350px;
  max-height: 100%;

  object-fit: cover;
  transition: all 0.2s linear;
}

.Item_Img:hover {
  transform: scale(1.1);
}

.Item_Information {
  padding: 20px 30px 30px;
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.Item_Text {
  color: #252e48;
  font-size: 18px;
  line-height: 24px;
}
@media only screen and (max-width: 4000px) {
  .Boxes {
    height: 700px;
  }
}

@media only screen and (max-width: 1250px) {
  .Boxes {
    height: 1000px;
  }
}

@media only screen and (max-width: 850px) {
  .Item_Link {
    width: 300px;
  }
  .Item_Text {
    font-size: 10px;
  }
}

@media only screen and (max-width: 722px) {
  .Boxes {
    height: 1800px;
  }
  .Item_Link {
    width: 300px;
  }
  .Item_Text {
    font-size: 10px;
  }
}

@media only screen and (max-width: 450px) {
  .Items {
  }
  .Item_Img {
  }
  .Item_Link {
    width: 250px;
  }
  .Item_Text {
    font-size: 10px;
  }
  .Boxes {
    height: 1590px;
  }
}
