.modal_Header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffffc9;
    height: 200px;
    width: 450px;
    border-radius: 20px;
    color: #fd0000;



}

.accessibility_Icon {
    position: fixed;
    left: 10px;
    bottom: 35px;
    border-radius: 100px;
    /*animation: float 1s ease-in-out infinite;*/

    z-index: 4000;

}

.reset_Settings_Btn {
    padding: 0;
    width: 130px;
    height: 50px;
    margin: 20px;
    color: rgb(255, 255, 255);
    font-size: 15px;

    background: transparent;
    border: 1px rgb(255, 255, 255) solid;
    border-radius: 10px;
    background-color: #fd0000;

}

.accessibility-Settings_Header {
    margin: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.settings_Container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10px;
    scroll-behavior: smooth;
    height: 300px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding: 20px;
    border-radius: 10px;
    background-color: #fd0000;
}

.accessibility_Setting_Btn_Container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    align-items: flex-start;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 250px;
    /* border-radius: 4px rgb(255, 255, 255) solid;*/
    background-color: #fd0000;

}

.btn-arrange {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    width: 100%
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.accessibility-active-profile {
    margin-left: 20px;
    color: black;
}

.accessibility-active-profile_text {

    color: rgb(0, 133, 7);
}

.accessibility_Setting_Btn {

    height: 50px;
    width: 50px;
    margin: 10px;
    padding: 2px;
    border: 0;
    background-color: rgb(240, 240, 240);
    border: 1px rgb(0, 1, 70) solid;
    border-radius: 10px;
}

.accessibility_Setting_Btn:hover {
    border: 1px rgb(255, 255, 255) solid;
    background-color: cornflowerblue;
    transition: all .5s ease-in-out;
    color: rgb(0, 0, 0);

}

.accessibility_Setting_Btn:active {
    background-color: rgb(20, 153, 20);
    color: white;

}

.accessibility_Setting_Btn {
    background-color: rgb(255, 255, 255);
}

.options {
    margin: 10px
}

h5 {
    margin: 10px
}

.reset_Settings_Btn:hover {
    background-color: cornflowerblue;
    transition: all .5s ease;

    font-weight: bold;
}

.reset_Settings_Btn:active {

    transform: scale(.88);
}


.accessibility_Icon:hover {
    box-shadow: 0px 0px 5px 2px rgb(255, 230, 0, .9);
    transition: all 1s ease;
}


.react-switch-checkbox {
    height: 0;
    width: 0;
    visibility: hidden;
}

.react-switch-label {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100px;
    height: 50px;
    background: grey;
    border-radius: 100px;
    position: relative;
    transition: background-color .2s;
}

.react-switch-label .react-switch-button {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 45px;
    height: 45px;
    border-radius: 45px;
    transition: 0.2s;
    background: #fff;
    box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.react-switch-checkbox:checked+.react-switch-label .react-switch-button {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

.react-switch-label:active .react-switch-button {
    width: 60px;
}

.Wrapper_Accessibility {
    animation: Animation 1s 1;
}

@keyframes Animation {
    0% {
        opacity: 0;

        transition: all ease-in;
    }



    20% {
        opacity: 0.3;

        transition: all ease-in;
    }

    40% {
        opacity: 0.4;

        transition: all ease-in;
    }

    60% {
        opacity: .5;

        transition: all ease-in;
    }



    80% {
        opacity: .8;

        transition: all ease-in;
    }

    100% {
        opacity: 1;

        transition: all ease-in;
    }
}