.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  min-width: 270px;
  height: 100px;
}
.contacts {
  position: absolute;
  top: -60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  min-width: 270px;
}
ul {
  list-style: none;
}
h3 {
  color: dimgray;
  font-size: 20px;
}
p {
  color: rgb(21, 124, 0);
  font-size: 15px;
}
.DJ_Mail {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.DN_Mail {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.address {
  width: 33%;
}
.social_Links_Container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.facebook {
  margin: 1rem;
}
.linkedIn {
  margin: 1rem;
}
@media (max-width: 900px) {
  .contacts {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
    margin-bottom: 50px;
  }
  h3 {
    font-size: 15px;
  }
  p {
    font-size: 12px;
  }
  .first_text {
    font-size: 30px;
  }
  .DJ_Mail {
    margin: 10px;
  }
  .DN_Mail {
    width: 33%;
    margin: 10px;
  }
  .address {
    width: 33%;
    margin: 10px;
  }
  .container {
    display: flex;
    flex-direction: row;
    height: 400px;
  }
  .facebook {
    margin-top: 50px;
  }
  .linkedIn {
    margin-top: 50px;
  }
  .social_Links_Container {
    margin-top: 200px;
  }
}
@media (max-width: 400px) {
  .container {
    height: 500px;
  }
  .social_Links_Container {
    margin-top: 300px;
  }
}
