* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.contact_Container {
  background: url("../../images/contactUs.png   ") center center/cover no-repeat fixed;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  height: 100vh;
  width: 100%;
  min-width: 300px;
  max-height: 1080px;
  max-width: 100%;
  z-index: 100;
}


@media screen and (max-height: 600px) {
  .contact_Container {
    flex-direction: row;
    height: 700px;
  }
}

.containerAni {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  margin-right: 100px;
}

.containerAni span {
  text-transform: uppercase;
}

.first_text_ {


  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 30px;
  background: transparent;
  position: relative;
  animation: first_text_anim .5s 1;
}

@media screen and (max-width: 745px) {
  .contact_Container {
    flex-direction: column;
  }

  .first_text_ {
    font-size: 25px;
    margin-bottom: 30px;
    color: white;
    width: 400px;
  }

  .containerAni {
    margin-right: 0;
    width: 100%;

  }


}

@media screen and (max-width: 450px) {
  .form_Container {
    height: 500px;
  }

  .first_text_ {
    text-align: center;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 30px;
    margin-top: 50px;
    color: rgb(255, 255, 255);
  }
}

/* The second text should be displayed at the
end of the first animation */

@keyframes first_text_anim {
  0% {

    transform: scale(.1)
  }

  10% {

    transform: scale(.2)
  }

  20% {

    transform: scale(.3)
  }

  30% {

    transform: scale(.4)
  }

  40% {

    transform: scale(.5)
  }

}

.form_Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
  align-items: center;
  background-color: rgb(210, 228, 252);
  padding: 20px;
  border-radius: 5px;
  border: rgb(250, 247, 247) 2px solid;
  box-shadow: 5px 5px 10px 1px rgb(217, 225, 255);
  height: 400px;
  width: 400px;
  min-width: 200px;
  animation: form_Animation 1s 1;
  opacity: 0.9;
}


.label {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

input {
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 40px;
  width: 100%;
  margin: 5px;
  font-size: large;
  min-width: 100px;
  padding: 5px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.message {
  width: 100%;
  border-radius: 5px;
  resize: none;
  scroll-behavior: smooth;
  font-size: larger;
  margin-top: 10px;
  height: 100px;
}

.btnSend {
  width: 100%;
  height: 40px;
  margin-top: 30px;
  font-size: 20px;
  background-color: #191351;
  border-radius: 5px;
  color: white;
  border: 1px white solid;
  cursor: pointer;
}

.btnSend:hover {
  background-color: rgb(124, 124, 243);
  color: rgb(255, 255, 255);
  transition: all 1s ease-out;
  cursor: url(../../../public/HandCursor1.png), auto;
}

@media screen and (max-width: 650px) {
  .form_Container {
    width: 350px;
  }

  .label {
    font-size: 15px;
  }

  input {
    font-size: 15px;
  }

  .message {
    font-size: 15px;
  }

  .btnSend:hover {
    background-color: rgb(124, 124, 243);
    color: rgb(255, 255, 255);
    transition: none;
    font-size: 20px;
  }
}

@media screen and (max-width: 490px) {
  .form_Container {
    width: 250px;
    height: 350px;
  }

  /*@keyframes first_text_anim {
    0% {
      color: rgb(255, 174, 0);
      transition: all ease;
    }
    10% {
      font-size: 15px;
      transition: all ease-out;
    }
    20% {
      font-size: 17px;
      transition: all ease-in;
    }
    30% {
      font-size: 19px;
      transition: all ease-in;
    }
    40% {
      font-size: 21px;
      transition: all ease-in;
    }
    50% {
      font-size: 23px;
      transition: all ease-in;
    }
    60% {
      font-size: 25px;
      transition: all ease-in;
    }*/
}

.name {
  margin: 2px;
}

.email {
  margin: 2px;
}

input {
  margin: 2px;
}

.text {
  margin-top: 5px;
}

.footer {
  transition: all 2s ease-in-out;
}