* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.icon {
    color: white;
    margin-right: 10px;
    font-size: 30px;

}

.container_AboutUs {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    min-width: 300px;
    background: url("../../images/1_u9E_tiaCY980rEJVePum_Q.jpeg") center center/cover no-repeat fixed;
}

.about_DJ_Container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
}

.about_DJ {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    text-justify: inter-word;
    padding: 20px;
    margin-right: 30px;
    width: 700px;
    height: 470px;
    /* A tip to use for accessibility for those who can not read easily*/
    word-spacing: 5px;
    background-color: rgba(22, 15, 15, 0.466);
}

.DJ_Email {

    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgb(133, 253, 109);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;

}

.DN_Email {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgb(133, 253, 109);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.DJ_Email:hover {
    color: rgb(255, 255, 255);

    ;
    transition: all .5S ease-in;
}

.DN_Email:hover {
    color: rgb(255, 255, 255);

    transition: all .5S ease-in;

}

.about_DN_Container {
    display: flex;
    flex-direction: row-reverse;
    /* Good tip for accessibility when we talk about priority of our objects*/
    justify-content: center;
    align-items: center;
}

.about_DN {
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    text-justify: inter-word;
    padding: 20px;
    margin-right: 30px;

    width: 700px;
    height: 430px;
    /* A tip to use for accessibility for those who can not read easily*/
    word-spacing: 5px;
    background-color: rgba(22, 15, 15, 0.466);
}



.title_About_DJ {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(255, 200, 21);
    font-size: 40px;
    animation: title_Animation 2s 1;
    width: 80%;


}

.title_About_DN {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(255, 200, 21);
    font-size: 40px;
    animation: title_Animation 2s 1;
    width: 80%;
    margin-left: 30px;

}







.our_Story_Text {
    font-size: 20px;
    line-height: 1.2;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
    padding: 50px;
    margin-top: 20px;
}

@keyframes title_Animation {
    0% {
        opacity: 0;
        transition: all ease-in;
    }

    10% {
        opacity: 0.1;
        transition: all ease-in;
    }

    20% {
        opacity: 0.2;
        transition: all ease-in;
    }

    30% {
        opacity: 0.3;
        transition: all ease-in;
    }

    40% {
        opacity: 0.4;
        transition: all ease-in;
    }
}

.contacts_AboutUs {
    position: relative;
    margin-top: 100px;
    width: 100%;
    background-color: blue;
}

@media only screen and (max-width:1500px) {
    .container_AboutUs {
        display: flex;
        flex-direction: column;
    }

    .our_Story {
        height: 350px;
        overflow-y: scroll;
        scroll-behavior: smooth;
    }

    .title_About {
        margin-bottom: 50px;
    }
}

@media only screen and (max-width:1200px) {

    .container_AboutUs {
        background-image: url("");
        background-color: rgb(0, 40, 73);
    }

    .title_About {
        font-size: 15px;
    }

    .our_Story_Title {
        font-size: 30px;
    }

    .our_Story_Text {
        font-size: 15px;
    }



    .our_Story {
        height: 300px;
        overflow-y: scroll;
        scroll-behavior: smooth;
    }
}

@media only screen and (max-width:1000px) {}


@media only screen and (max-width:750px) {

    .our_Story {

        width: 300px;
        height: 300px;
    }

    .title_About {
        font-size: 10px;
    }

    .our_Story_Title {
        font-size: 20px;
    }

    .our_Story_Text {
        font-size: 15px;
    }



    .our_Story {
        height: 350px;
        overflow-y: scroll;
        scroll-behavior: smooth;
    }
}


@media only screen and (max-width:412px) {
    .dream_Logo img {
        width: 65px;
        height: 156px;
    }

    /* .container_AboutUs {
        background-image: url("");
        background-color: rgb(0, 40, 73);
    }*/
}

/*@media only screen and (max-height:450px) {
    .contacts_AboutUs {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 60%;
        background-image: url("");
        background-color: brown;
    }
}*/