.container {
  position: relative;

  align-items: center;
  height: 100px;
  background-color: brown;
}
.contacts {
  position: absolute;
  top: -60px;
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  gap: 20px;
  justify-content: center;
}
ul {
  list-style: none;
}
h3 {
  color: dimgray;
}
p {
  color: darkcyan;
}
