.platform_Container {
  margin: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 400px;
  min-width: 300px;
  background-color: rgba(246, 247, 191, 0.9);
  z-index: 1;
}

.notVisiblBtn {
  background-color: rgba(255, 255, 255, 0);
  border: none;

}

.platform_Text_Container_ {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  width: 90%;
  min-width: 300px;
}

.platform_Title {
  font-size: 45px;
  font-weight: bold;
  color: rgba(2, 2, 129, 0.767);
  margin-top: 30px;
  margin-bottom: 20px;
}

.platform_Title:focus {
  outline: #f9fd00 solid 2px;
  box-shadow: 0px 0px 10px 2px#eeff00;

}

.platform_Text_ {
  display: flex;
  justify-content: center;
  align-items: center;
  text-justify: kashida;
  text-align: justify;
  margin-top: 25px;
  padding: 10px;


  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 3rem;
  width: 90%;
  border-radius: 10px;
}

.platform_Text_:focus {
  outline: #f9fd00 solid 2px;
  box-shadow: 0px 0px 10px 2px#eeff00;

}

@media screen and (max-width:1700px) {
  .platform_Title {
    font-size: 35px;
  }

  .platform_Text_ {
    font-size: 20px;
  }

  .platform_Container {
    height: 500px;
  }
}

@media screen and (max-width:1450px) {
  .platform_Title {
    font-size: 35px;
  }

  .platform_Text_ {
    font-size: 20px;
  }

  .platform_Container {
    height: 550px;
  }
}


@media screen and (max-width: 1170px) {
  .platform_Text_ {
    font-size: 15px;
  }

  .platform_Container {
    height: 500px;
  }

  .platform_Text_Container_ {
    height: 600px;
  }

}

@media screen and (max-width: 1090px) {
  .platform_Container {
    height: 700px;
  }
}



@media screen and (max-width: 750px) {
  .platform_Container {
    height: 750px;


  }

  .platform_Text_Container_ {

    height: 430px;

  }
}

@media screen and (max-width: 650px) {
  .platform_Text_Container_ {

    height: 500px;
  }

  .platform_Text_ {
    font-size: 12px;
    line-height: 2rem;
  }
}

@media screen and (max-width: 560px) {
  .platform_Container {
    height: 800px;
  }

  .platform_Title {
    font-size: 25px;
  }

  .platform_Text_Container_ {

    height: 430px;
  }

  .platform_Text_ {
    font-size: 12px;

  }

}

@media screen and (max-width: 470px) {
  .platform_Container {
    height: 850px;

  }

  .platform_Text_Container_ {}
}

@media screen and (max-width: 420px) {
  .platform_Container {
    height: 900px;
  }

  .platform_Text_Container_ {

    height: 450px;



  }
}

@media screen and (max-width: 350px) {
  .platform_Container {
    height: 1000px;
  }

  .platform_Text_Container_ {

    height: 450px;



  }
}