*:focus {
    border: none;
}

html {
    max-zoom: 200%;
}


.App {
    filter: grayscale(10%);

}

.safeApp {
    filter: grayscale(70%);
    animation-name: lowColor;
    animation-duration: 2s;
}

label {
    color: rgb(255, 255, 255);
}

.btnDescription {
    background-color: rgba(247, 255, 142, 0.274);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    font-size: 15px;
    width: 70%;
    border-radius: 3px;
    padding: 10px;
    color: rgb(255, 255, 255);
}

.noDescription {
    display: none;
}

.accessibility_Icon_Container {
    position: fixed;
    display: grid;
    /* Logo Gap Gap HamMenu*/
    grid-template-columns: 40% 40% 15% 5%;

    height: 50px;
    font-size: 1.2rem;
    width: 100%;
    min-width: 300px;
    border-radius: 0;
    z-index: 10000;

}

.accessibility_Help {
    display: flex;
    justify-content: center;
    z-index: 10000;
    margin-bottom: 10PX;
    padding: 5px;
    border-radius: 50px;
    justify-self: end;
}

.accessibility_Img {
    display: flex;
    justify-content: end;
    z-index: 10000;
    margin-bottom: 10PX;
    padding: 5px;
    border-radius: 50px;
    justify-self: end;
}

.accessibility_Img:focus {}

img:hover {
    background-color: rgba(245, 245, 220, 0.507);
}

button {
    background: transparent;
    border: none;
}

.cursoricons {
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    border-top: 1px rgb(122, 122, 122) solid;
    font-size: large;

}

.ContentReader {
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    border-top: 1px rgb(122, 122, 122) solid;
    font-size: large;
}

.accessibility_Container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: left;
    border-radius: 20px;
    width: 100%;
    transition: all 2s ease-out;
    z-index: 10000;
}

.video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;


    filter: grayscale(0%);
    animation: lowColor 2s;


}

.noVideo {

    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    filter: grayscale(70%);
    animation-name: lowColor;
    animation-duration: 2s;



}

@keyframes lowColor {
    0% {
        filter: grayscale(0);
    }

    15% {
        filter: grayscale(15%);
    }

    30% {
        filter: grayscale(30%);
    }

    45% {
        filter: grayscale(45%);
    }

    60% {
        filter: grayscale(60%);
    }

    75% {
        filter: grayscale(75%);
    }


}

.background_Container_Video {

    max-width: 100%;
    width: 100%;
    min-width: 300px;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-image: url("../src/images/alex-scaled.jpg") center center/cover no-repeat fixed;
}

#toggle {
    display: none;
}

.helpIcon {
    color: rgb(255, 185, 9);

    height: 95px;
    width: 95px;
}

.button {
    display: inline-block;
    width: 70px;
    height: 25px;
    background-color: #c4c4c444;
    border-radius: 0px;
    position: relative;


}

.button:hover {
    cursor: url(../public/HandCursor1.png), auto;
}

.closeIcon:hover {
    cursor: url(../public/HandCursor1.png), auto;
}

.button:after {
    content: "*";
    width: 30px;
    height: 30px;
    background-color: green;
    border: 2px solid white;
    border-radius: 50px;
    box-shadow: 0 0 5px rgba(255, 255, 0, 0.664);
    position: absolute;
    top: -5px;
    left: 0;
    display: grid;
    place-content: center;
    line-height: 0;
    transition: background-color 1s;
    transform: all 4s ease-in;
}

#toggle:checked+.button::after {
    content: "0";
    background-color: darkgray;
    transform: translate(35px) rotate(360deg);
}

.backgroundAccessibility {
    background-color: green;
    z-index: 3000;
}

/* Accessibility settings*/
.Background {
    position: fixed;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;

    background-color: #c5c5c577;
    z-index: 4000;
}

.Accessibility_Wrapper {
    position: fixed;
    width: 450px;
    height: 600px;
    box-shadow: 0 5px 16px rgb(3, 0, 51);
    background: #c5c5c5;
    display: flex;
    flex-direction: row;
    justify-content: center;

    z-index: 2;
    border-radius: 10px;
    margin-bottom: 50px;
    bottom: -40px;
    left: 10px;

    transition: all .5s ease-out;
    animation: Animation .2s 1;
}

.Accessibility_Window_Content {}


.modal_Header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #020136c9;
    height: 200px;
    width: 450px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: #f8d744;

}

.accessibility_Setting_Btn_Container {
    margin-top: 10px;
    width: 450px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    align-items: flex-start;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 290px;
    /* border-radius: 4px rgb(255, 255, 255) solid;*/
    background-color: #0b0422;
    color: white;

}

.reset_Settings_Btn {
    padding: 0;
    width: 150px;
    height: 50px;
    margin: 20px;
    color: rgb(0, 0, 0);
    font-size: 18px;

    background: transparent;
    border: 1px rgb(3, 1, 117) solid;
    border-radius: 5px;
    background-color: #ffffff;

}

.mouse {
    display: block;
}

@media screen and (max-height: 645px) {
    .reset_Settings_Btn {
        width: 100px;
    }

    .accessibility-active-profile {
        display: none;
    }

    .accessibility-Settings_Header {
        display: none;

    }

    .accessibility_Setting_Btn_Container {
        width: 700px;
        height: 250px;
    }

    .modal_Header {
        width: 700px;
        height: 120px;
    }

    .Accessibility_Wrapper {
        width: 700px;
        height: 300px;
        left: 10px;
        bottom: 35px;
    }


    #bk_Animation_Btn {
        display: none;

    }

    .btn_Pointer {
        display: none;
    }

    .cursoricons {
        display: none;
    }

}



@media screen and (max-width: 768px) {
    #bk_Animation_Btn {
        display: none;

    }

    .btn_Pointer {
        display: none;
    }

    .cursoricons {
        display: none;
    }
}

@media screen and (max-width: 475px) {
    #bk_Animation_Btn {
        display: none;

    }

    .btn_Pointer {
        display: none;
    }

    .cursoricons {
        display: none;
    }

    .accessibility_Setting_Btn_Container {
        width: 350px;
    }

    .modal_Header {
        width: 350px;
    }

    .Accessibility_Wrapper {
        width: 350px;
        height: 600px;
        left: 50px;
    }

}

@media screen and (max-width: 400px) {
    .accessibility_Setting_Btn_Container {
        width: 350px;
    }

    .modal_Header {
        width: 350px;
    }

    .Accessibility_Wrapper {
        width: 350px;
        height: 600px;
        left: 5px;
    }

}